H1{ text-align: center;}

H2{
    text-align: center;
    background-color: rgb(50,50,50);
    color : white;
    padding: 6px;
}

#banner {
      width: 100%;
}

body {
  background-color: grey ;  
  font-family: monospace;
}

table {
     width: 100%
}

