H1{ text-align: center;}

H2{
    text-align: center;
    background-color: grey;
    padding: 6px;
}

#banner {
      width: 100%;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: monospace;
}


