H1{ text-align: center;}

H2{
    text-align: center;
    background-color: rgb(50,50,50);
    color : white;
    padding: 6px;
}

#banner {
      width: 100%;
}

body {
  background-color: grey ;  
  font-family: monospace;
  color : white; 
}

table {
     width: 100%
}

/* lien non visité */
      a:link {
        color: #ccc;
      }
      /* lien visité */
      a:visited {
        color: #095484;
      }
      /* souris sur le lien */
      a:hover {
        color: #8ebf42;
      }
      /* lien sélécté */
      a:active {
        color: #800000;
      }
